@use "variables" as *;

:root {
  --background: #{$c-bg};
  --foreground: #{$c-fg};

  --gap-xs: #{$gap-xs};
  --gap-s: #{$gap-s};
  --gap-m: #{$gap-m};
  --gap-l: #{$gap-l};
  --gap-xl: #{$gap-xl};

  --radius-s: #{$radius-s};

  /* 색상 */
  --c-white: #{$c-white};
  --c-gray: #{$c-gray};
  --c-main: #{$c-main};
  --c-point-fg: #{$c-point-fg};
  --c-point: #{$c-point};
  --c-point-bg: #{$c-point-bg};

  /* 폰트 사이즈 */
  --fz-s: #{$fz-s};
  --fz-m: #{$fz-m};
  --fz-l: #{$fz-l};

  /* 폰트 두께 */
  --fw-normal: #{$fw-normal};
  --fw-medium: #{$fw-medium};
  --fw-bold: #{$fw-bold};
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$c-bg-dark};
    --foreground: #{$c-fg-dark};
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Jersey, Pretendard, sans-serif;
  font-size: 16px;
}

// table
.table {
  border-collapse: collapse;
  box-sizing: content-box;

  &.middle {
    th,
    td {
      vertical-align: middle;
    }
  }

  thead {
    tr {
      color: var(--c-white);
      background-color: var(--c-point-bg);
    }
  }

  th,
  td {
    padding: var(--gap-xs) 4px;
    // border-top: 1px solid var(--c-point);
  }

  tr:not(:last-of-type) {
    border-bottom: 1px solid var(--c-point);
  }

  tr {
    & > td:not(:last-of-type),
    & > tr:not(:last-of-type) {
      border-right: 1px solid var(--c-point);
    }
  }
}
