@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss config */
@theme {
  /* 색상 */
  --color-white: var(--c-white);
  --color-gray: var(--c-gray);
  --color-main: var(--c-main);
  --color-point-fg: var(--c-point-fg);
  --color-point: var(--c-point);
  --color-point-bg: var(--c-point-bg);

  /* 여백 */
  --spacing-xs: var(--gap-xs);
  --spacing-s: var(--gap-s);
  --spacing-m: var(--gap-m);
  --spacing-l: var(--gap-l);
  --spacing-xl: var(--gap-xl);

  /* 폰트 */
  --font-Jersey: "Jersey";
  --font-Pretendard: "Pretendard";

  /* 폰트사이즈 */
  --text-s: var(--fz-s);
}
